.material-icons-round {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: 200 !important;
  font-size: 20px;
}

.shaka-overflow-menu {
  background-color: rgba(25, 25, 25, 0.5);
  backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1)
}
